.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    margin: 118px 84px 0px 104px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}